<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <nav>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                </ol>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>