<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, inital-scale=1">
        <meta rel="stylesheet" href="">
        <title></title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="post">
            <input type="text", placeholder="Username">
            <input type="password" placeholder="Password">
            <div>
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <a href="#">Forgot Password?</a>
            <button type="submit">Login</button>
            <label>Don't have an account? <a href="#">Register</a></label>
        </form>
        <script src="" async defer></script>
    </body>
</html>